<p>Kevin Garnett and Tim Duncan are two of the greatest power forwards of all time, accounting for 14 1st Team All-NBA honors since the 1997-98 season. Duncan will forever be known for his five championships with the Spurs, Garnett for his intensity on the court and the banner he brought to Boston. These long, successful careers beg to be broken down against one another. I’ll analyze various parts of their careers, their ability to lead teams to regular season and playoff wins, and their impact on their teams ability to build a successful franchise. </p>

<div class="row">
	<table class="table table-striped table-condensed">
	  <thead>
		  <tr>
		    <th class="icol-xs-2"></th>
		    <th class="col-xs-4"><img src="/assets/duncan.jpg"></th>
		    <th class="col-xs-4"><img src="/assets/garnett.jpg"></th>
		  </tr>
		  <tr>
		    <th class="col-xs-2"></th>
		    <th class="col-xs-4">Tim Duncan</th>
		    <th class="col-xs-4">Kevin Garnett</th>
		  </tr>
	  </thead>
	  <tbody>
		  
		  <tr>
		    <td class="col-xs-2">Shoots</td>
		    <td class="col-xs-4">Right</td>
		    <td class="col-xs-4">Right</td>
		  </tr>
		  <tr>
		    <td class="col-xs-2">Height</td>
		    <td class="col-xs-4">6'11"</td>
		    <td class="col-xs-4">6'11"</td>
		  </tr>
		  <tr>
		    <td class="col-xs-2">Weight</td>
		    <td class="col-xs-4">248</td>
		    <td class="col-xs-4">220</td>
		  </tr>
		  <tr>
		    <td class="col-xs-2">Birthday</td>
		    <td class="col-xs-4">April 25, 1976</td>
		    <td class="col-xs-4">May 19, 1976</td>
		  </tr>
		  <tr>
		    <td class="col-xs-2">Birthplace</td>
		    <td class="col-xs-4">St. Croix, Virgin Islands</td>
		    <td class="col-xs-4">Mauldin, South Carolina</td>
		  </tr>
		  <tr>
		    <td class="col-xs-2">High School</td>
		    <td class="col-xs-4">St. Dunstan's Episcopal (St. Croix)</td>
		    <td class="col-xs-4">Farragut Career Academy (Chicago)</td>
		  </tr>
		  <tr>
		    <td class="col-xs-2">College</td>
		    <td class="col-xs-4">Wake Forest University</td>
		    <td class="col-xs-4">None</td>
		  </tr>
		  <tr>
		    <td class="col-xs-2">Draft</td>
		    <td class="col-xs-4">1st in 1997 to San Antonio Spurs</td>
		    <td class="col-xs-4">5th in 1995 to San Antonio Spurs</td>
		  </tr>
		</tbody>
	</table>
</div>

<p>The above information shows us how similar the two are. They are teh same height and age but Duncan outweighs KG by nearly 30 pounds. Tim also spent four years at Wake Forest University, accounting for Garnett’s head start in the league after skipping college. His youth may have lowered him to fifth pick overall, but as we will see, it was definitely the right financial decision for an athlete of his caliber. KG was also quite accustomed to being away from home after playing high school ball in Chicago, which may have helped with his transition to the NBA.</p>

<p>Having little knowledge of each player’s specific career stats, I’ll start there. I will filter for each player’s career, regular season statistics using the 'player_per_game.csv' table. In the <a href="http://www.slamstats.net/articles/4">last article</a>, I described the <a href="https://github.com/coreygarvey/bball/blob/master/analysis/processing.R">R script</a> I wrote for my initial data processing. This processing included slicing my data (all regular season box scores since 1985-86) in a number of ways. I saved these different slices as CSV files which I now read whenever they are needed. After the filter and grabbing only a few particular columns, I have the following:</p> 

<div class="row">
	<table class="table table-striped table-condensed">
	  <thead>
		  <tr>
		    <th>PLAYER</th>
		    <th>FG</th>
		    <th>FGA</th>
		    <th>FG%</th>
		    <th>3P</th>
		    <th>3PA</th>
		    <th>3P%</th>
		    <th>FT</th>
		    <th>FTA</th>
		    <th>FT%</th>
		    <th>ORB</th>
		    <th>DRB</th>
		    <th>TRB</th>
		    <th>AST</th>
		    <th>STL</th>
		    <th>BLK</th>
		    <th>TOV</th>
		    <th>PF</th>
		    <th>PTS</th>
		    <th>minutes</th>
		  </tr>
	  </thead>
	  <tbody>
		  <tr>
		    <td>Tim Duncan</td>
		    <td>7.7</td>
		    <td>15.2</td>
		    <td>51%</td>
		    <td>0.0</td>
		    <td>0.1</td>
		    <td>18%</td>
		    <td>4.4</td>
		    <td>6.4</td>
		    <td>70%</td>
		    <td>2.9</td>
		    <td>8.3</td>
		    <td>11.1</td>
		    <td>3.1</td>
		    <td>0.7</td>
		    <td>2.2</td>
		    <td>2.5</td>
		    <td>2.4</td>
		    <td>19.9</td>
		    <td>34.8</td>
		  </tr>
		  <tr>
		    <td>Kevin Garnett</td>
		    <td>7.5</td>
		    <td>15.0</td>
		    <td>51%</td>
		    <td>0.1</td>
		    <td>0.5</td>
		    <td>26%</td>
		    <td>3.5</td>
		    <td>4.4</td>
		    <td>79%</td>
		    <td>2.3</td>
		    <td>8.0</td>
		    <td>10.3</td>
		    <td>3.9</td>
		    <td>1.3</td>
		    <td>1.5</td>
		    <td>2.3</td>
		    <td>2.5</td>
		    <td>18.6</td>
		    <td>35.5</td>
		  </tr>
		</tbody>
	</table>
</div>

<p>The numbers are incredibly similar but there are some clear differences. Duncan plays like more of a "big man", bringing down almost one more rebound and taking two more free throws per night. Not surprising still, Duncan averages more than half a block more than KG, but the Big Ticket brings some additional skills to the table in terms of assists, steals and free throw percentage. KGs lighter, more agile frame make him an extremely dynamic player, Duncan's weight gives him a true presence down low.</p>

<div id="duncan_table"></div>
<div id="garnett_table"></div>

<script>
$(function() {
  $('#duncan_table').CSVToTable('/assets/csv/duncanvsgarnett/duncati01.csv',
  	{ 
       tdClass: 'col-xs-2'
    }
 	);

  $('#garnett_table').CSVToTable('/assets/csv/duncanvsgarnett/garneke01.csv');
});
</script>