<p>I’ll start with the questions I want to answer:</p>
   <ul>
      <li>How can we predict NBA team performance?</li>
      <ul>
         <li>What information about the team's history is important?</li>
         <li>About the team's past statistics?</li>
         <li>About the players' past statistics?</li>
         <li>About the players' history (info, previous teams, college, etc.)?</li>
         <li>About the current state of the league and its other teams?</li>
      </ul>
      <li>If we can predict team performance, can we find the best free agents and potential trades for a team?</li>
      <ul>
         <li>For the price for a single year?</li>
         <li>For the price and years combination? Will it help build the best franchise?</li>
      </ul>
      <li>Which 2015 free agents should the Knicks be targeting?</li>
   </ul>
   

<p>The goal is to answer questions NBA teams could realistically expect to ask themselves. The interest for me is centered on the player connections in the game and optimizing a team's roster decisions to win games and championships. Because of the strong team nature of the game, a franchise can’t simply pay a huge sum for a good player without thinking about that player's impact and influence on teammates. We were nicely reminded of the importance of team chemistry after seeing the Spurs dismantle Lebron's Heat.</p>
<p>In my first few articles I'll give a quick introduction to the tools and methods that I have used to obtain data and briefly discuss the necessary data processing. In time, I will write detailed tutorials describing this work but initially I want to get to analysis as quickly as possible.</p>
<p>After briefly exploring some NBA data, I’ll touch on the work done by those before me, many of whom are the most respected basketball analysts in the game. In my brief time as a member of this community, I cannot believe how helpful and responsive everyone has been. As a fairly young area of sports analysis, particularly compared to baseball, basketball could use improved documentation. In addition to articles which help to answer the questions above, SlamStats will provide links, information and other resources for future basketball statisticians. I’m looking forward to the analysis and hopefully helping future stats junkies the same way many have been helping me.</p>
</br>
<p>All work can be found on <a href="https://github.com/coreygarvey/bball" target="_blank">github</a>.</p>
<p>Please email slamstats@gmail.com with any thoughts or questions.</p>