<% provide(:title, 'All articles') %>
<h1>All Articles</h1>

<ul class="articles" style="list-style: none;">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>