<div>
  <h1>Blog</h1>

  <h2>
    Welcome to the SlamStats blog. Check out some articles about how I built the site, obtained the data and did my analysis.
  </h2>

</div>

<ul style="list-style: none;">
	<li><a href="/blog/2">Why basketball?</a></li>
	<li><a href="/blog/motivation">Motivation and goals</a></li>
</ul>