<div>
    <h1>Motivation and Goals</h1>

    <p>I’ll start with the questions I want to answer:</p>
    <p>How can we predict NBA team performance?
    <ul style="list-style: none;">
		<li>What information about the team's history is important?</li>
		<li>About the team's past statistics?</li>
		<li>About the players' history (info, previous teams, college, etc.)</li>
		<li>About the current state of the league and its other teams?</li>
	</ul>
	<p>If we can predict team performance, can we find the best free agents and potential trades for a team?</p>
	<ul style="list-style: none;">
		<li>For the price of a player for a single season?</li>
		<li>For the price and number of years combo? Will this player help to build the best franchise?</li>
	</ul>
	<p>The goal of the model is to answer questions NBA teams could realistically expect. As I build out SlamStats and initial questions are answered, I’ll move forward to other possible models. For now, the above questions should be more than enough. The interest for me is centered on the connections between players in order to create the best team possible, meaning a team can’t simply pay a huge sum for a good player without thinking how that player will fit on the court. It’s impossible to understate the importance of team chemistry after seeing the Spurs dismantle the Heat in the ultimate display of teamwork.</p>
	<p>In my first few blog articles, I’ll touch on the work done by those before me, many of whom are the most respected basketball analysts in the game. In my brief time as a member of this community, I cannot believe how helpful and responsive everyone has been. As a fairly young area of sports analysis, particularly compared to baseball, basketball analytics documentation could still use some work and many stats definitions are difficult to find. In addition to articles which attempt to answer the questions above, SlamStats will provide links, information and other resources for future basketball statisticians. I’m looking forward to the analysis and hopefully helping future stats junkies the same way many have been helping me.</p>

</div>
