<% provide(:title, 'References') %>
<h1>References</h1>
<h4>Stats Site</h4>
<a href="http://www.basketball-reference.com">Basketball Reference</a>
</br>
<a href="http://basketballvalue.com/index.php">Basketball Value</a>
</br>
<a href="http://www.82games.com">82Games</a>
</br>
<a href="http://fivethirtyeight.com/">FiveThirtyEight</a>

<h4>Data</h4>
<a href="https://github.com/coreygarvey/bball/tree/master/scripts">SlamStats Github</a>
</br>
<a href="http://www.basketball-reference.com/about/glossary.html">Basketball Reference Glossary</a>
</br>
<a href="http://basketballvalue.com/downloads.php">Baskeball Value Downloads</a>

<h4>Plus Minus</h4>
<a href="http://www.washingtontimes.com/news/2004/apr/13/20040413-121657-1462r/?page=all#pagebreak"> Early article from Washington Times</a>
</br>
<a href="http://www.82games.com/comm30.htm">Measuring How NBA Players Help Their Teams Win - Dan T. Rosenbaum</a>