<footer class="footer">
  <small>
    <a href="https://github.com/coreygarvey/slamstats">Slam Stats</a>
    by Corey Garvey
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://coreygarvey.com' %></li>
    </ul>
  </nav>
</footer>