<footer class="footer">
  <div class="container">
    <small>
    <span style="color:#555;">Slam Stats</span>
    by 
    <span style="color:black;">Corey Garvey</span>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/coreygarvey/slamstats"><img src="/assets/github32.png"></a></li>
    </ul>
  </nav>
  </div>
</footer>